@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.carousel-item {
  background-color: black;
  color: black;
  position: relative;
  max-height: 32rem;

}

.overlay-image {
  position: relative;
  opacity: 0.8;
}

.link {
  text-decoration: none;
}

.spacer {
  aspect-ratio: 900/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer-1 {
  background-image: url('./assets/wave.svg');
}

.layer-2 {
  background-image: url('./assets/wavebottom.svg');
}

.bg-custom-dark {
  background-color: #191817;
}

body {
  background-color: #191817;
}

.wavetext {
  font-family: 'Prompt', sans-serif;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 4rem 20vw;

}