@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFFBE9;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.spacer {
  aspect-ratio: 16/9;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url('./assets/layer.svg');
}

.layer2 {
  background-image: url('./assets/layer1.svg');
  aspect-ratio: 900/200;
}

.layer3 {
  background-image: url('./assets/layer2.svg');
  aspect-ratio: 900/200;
}

.layer4 {
  background-image: url('./assets/layer3.svg');
  aspect-ratio: 900/200;
}

.headerLandingPage {
  background-image: url('./assets/leaves.avif');
  background-color: #cccccc;
  /* Used if the image is unavailable */
  height: 500px;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}